.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locations, .amenities {
  position: relative;
}

.locations ul, .amenities ul {
  position: absolute;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.locations h2 {
  font-size: 16px;
}

.popover li {
  padding: 5px 10px;
  cursor: pointer;
}

.popover li:hover {
  background-color: #DDDDDD;
}

.locations:hover ul, .amenities:hover ul {
  display: block;
}

